<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Selenium/Practice Sessions/Framework/Selenium Frameworks/TestNG/test-one">
        <classes>
            <class name="tests.Button_Test"></class>
            <class name="tests.Edit_Test"></class>
            <class name="tests.Hyperlink_Test"></class>
            <class name="tests.Image_Test"></class>
            <class name="tests.Dropdown_Test"></class>
            <class name="tests.Radio_Test"></class>
        </classes>
    </test>
</suite>