<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/Selenium/Practice Sessions/Framework/Selenium Frameworks/TestNG/test-one"><classes><class name="tests.Button_Test"><methods><include name="buttonFeatures"/></methods></class><class name="tests.Edit_Test"><methods><include name="Edit_Features"/></methods></class><class name="tests.Hyperlink_Test"><methods><include name="hyperlinkFeatures"/></methods></class><class name="tests.Image_Test"><methods><include name="ImageFeatures"/></methods></class></classes></test></suite>